@import "tailwindcss";

.card{
    width: auto;
    border: 2px solid rgb(81, 149, 232);
    border-radius: 10px;
    padding: 15px 25px;
    text-align: center;
    transition: all 0.3s ease;

}
.card:hover{
    border: 2px dashed rgba(255, 255, 255, 0.8);
    background-color: rgb(14, 49, 90);
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(38, 153, 215, 0.84);  
}
.projectCard:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(38, 153, 215, 0.84);
}